#topo{
	height: 150px;
	background-color: #4682B4;
}
#menu ul li{
	display: inline-table;
	padding: 65px 70px;
}
#menu ul li:hover{
	background-color: rgba(0,0,0,0.5);
}
#menu ul li a{
	text-decoration: none;
	color: white;
	font-family: Berlin Sans FB;
}
#conteudo {
   padding: 50px;
   padding-bottom: 500px;   /* Mesma Altura do Rodapé */
}
#rodape_site{
	height: 200px;
	background-color: #4682B4;
	clear: both;
}